html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #e5e5e5;
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Nunito';
}
.wrapper {
    max-width: 800px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 5px rgba(black, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: .275rem;
    padding: 1rem;
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        .form {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;

            input {
                width: 100%;
                height: 30px;
                font-size: 1.2rem;
                font-family: 'Nunito';
                margin-bottom: 1rem;

                &:focus {
                    outline: none;
                }
            }
            button {
                $bg-color: #219b00;
                width: 100px;
                height: 30px;
                background: $bg-color;
                border: 1px solid transparent;
                border-radius: .180rem;
                cursor: pointer;
                color: white;
                font-family: 'Nunito';
                font-weight: bold;
                font-size: 1rem;
                box-shadow: 0px 5px 0px 0px darken($bg-color, 10);
                transition: .3s;
                transform: translateY(-5px);
                outline: none;
                text-align: center;
                &:hover {
                    box-shadow: 0px 3px 0px 0px darken($bg-color, 10);
                    transform: translateY(-2px);
                }
                &:active {
                    box-shadow: 0px 0px 0px 0px darken($bg-color, 10);
                    transform: translateY(0px);
                }
                .loader {
                    $animation: rotating 1.5s linear infinite;
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    background: transparent;
                    border-radius: 50%;
                    border: 2px solid #ffffff;
                    border-top: 2px solid $bg-color;
                    -webkit-animation: $animation;
                    -moz-animation: $animation;
                    -ms-animation: $animation;
                    -o-animation: $animation;
                    animation: $animation;
                    margin: 0 auto;
                }
            }
        }
        #result {
            width: 100%;
            ul {
                padding: 0;
                list-style: none;
                li {
                    width: 100%;
                    height: 1.2rem;
                    padding: .5rem 0;
                    display: flex;
                    span {
                        margin-right: .5rem;
                        min-width: 75px;
                        display: flex;
                    }
                    a {
                        $color: #000f6e;
                        text-decoration: none;
                        color: $color;
                        font-weight: bold;
                        cursor: pointer;
                        border: none;
                        border-bottom: 1px dashed rgba($color, 0);
                        transition: .3s;
                        &:hover {
                            border-bottom: 1px dashed rgba($color, 1);
                        }
                    }
                }
            }
            div {
                color: #a20000;
                text-decoration: underline;
                font-style: italic;
            }
        }
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
